@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 150px auto 50px;
  grid-template-areas:
    "header"
    "bodyContent"
    "footer";
  background-image: url('./img/bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.head {
  grid-area: header;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Ms Madi', cursive;
  color: white;
  margin-top: 10px;
  font-size: 3.5rem;
}

.nav {
  color: white;
  font-size: 1.3rem;
  display: flex;
  gap: 10px;
  font-family: 'Quicksand', sans-serif;
}

.nav>* {
  transition: 0.3s;
  padding: 10px;
}

.nav>*:hover {
  cursor: pointer;
  transform: translateY(-10%);
}

.nav>*.selected {
  border-bottom: 2px white solid;
}


.bodyContent {
  grid-area: bodyContent;
  min-height: calc(100vh - 200px);
}

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer+span {
  background-image: url('./img/GitHub.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-flex;
  margin-left: 10px;
}


